%title-72 {
  font-size: 7.2rem;
  font-weight: 700;
  letter-spacing: -0.4rem;
}

%title-56 {
  font-size: 5.6rem;
  font-weight: 600;
  letter-spacing: -0.4rem;
}

%title-32 {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -0.2rem;
  margin-bottom: 2.4rem;
}

%title-16 {
  font-size: 1.6rem;
  font-weight: 500;
}

%paragraph-20 {
  font-size: 2rem;
  line-height: 130%;
}
